@charset "UTF-8";

#imgCounter {
  position: absolute;
  top: 2px;
  right: 30px;
  height: 16px;
  cursor: pointer;
  transition: 0.2s;
}

#imgCounter:hover {
  transform: scaleX(1.1);
}

#imgCounter:active {
  transform: scale(1.1);
}

.aLinkButton {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 1.2rem;
  margin-right: 1rem;
  color: #000;
  font-weight: bold;
  background-color: #cbfac3;
  background-image: repeating-linear-gradient(
    45deg, #aefaa1, #aefaa1 20px, transparent 20px, transparent 40px
  );
  width: 12em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border: 2px solid #8ff07e;
  border-radius: 1em;
  font-size: 1.4rem;
  box-shadow: 0.08em 0.15em 0.6em rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  -webkit-text-stroke: 0.24rem #fff;
  paint-order: stroke;
}

.aLinkButton:first-of-type {
  margin-top: 1rem;
}

.aLinkButton:hover {
  transform: scale(1.04);
  background-color: #d1f6cc;
}
